@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  #__istanbul_widget {
    [class*=' iw-'] {
      @apply iw-border-border;
    }

    *,
    ::before,
    ::after {
      box-sizing: border-box; /* 1 */
      border-width: 0; /* 2 */
      border-style: solid; /* 2 */
    }

    ::before,
    ::after {
      --tw-content: '';
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: inherit; /* 1 */
      font-size: 100%; /* 1 */
      font-weight: inherit; /* 1 */
      line-height: inherit; /* 1 */
      color: inherit; /* 1 */
      margin: 0; /* 2 */
      padding: 0; /* 3 */
    }

    button,
    select {
      text-transform: none;
    }

    button,
    [type='button'],
    [type='reset'],
    [type='submit'] {
      -webkit-appearance: button; /* 1 */
      background-color: transparent; /* 2 */
      background-image: none; /* 2 */
    }

    dialog {
      padding: 0;
    }

    button,
    [role='button'] {
      cursor: pointer;
    }

    --radius: 8px;
    @apply iw-text-primary;

    &.istanbul-widget-light {
      --background: 0, 0%, 100%;
      --foreground: 20, 14.3%, 4.1%;

      --card: 0, 0%, 100%;
      --card-foreground: 20, 14.3%, 4.1%;

      --popover: 0, 0%, 100%;
      --popover-foreground: 20, 14.3%, 4.1%;

      --primary: 24, 9.8%, 10%;
      --primary-foreground: 60, 9.1%, 97.8%;

      --secondary: 60, 4.8%, 95.9%;
      --secondary-foreground: 24, 9.8%, 10%;

      --muted: 60, 4.8%, 95.9%;
      --muted-foreground: 25 5.3% 44.7%;

      --accent: 60, 4.8%, 95.9%;
      --accent-foreground: 24, 9.8%, 10%;

      --destructive: 0, 84.2%, 60.2%;
      --destructive-foreground: 60, 9.1%, 97.8%;

      --border: 20, 5.9%, 90%;
      --input: 20, 5.9%, 90%;
      --ring: 20, 14.3%, 4.1%;
    }

    &.istanbul-widget-dark {
      --background: 20, 14.3%, 4.1%;
      --foreground: 60, 9.1%, 97.8%;

      --card: 20, 14.3%, 4.1%;
      --card-foreground: 60, 9.1%, 97.8%;

      --popover: 20, 14.3%, 4.1%;
      --popover-foreground: 60, 9.1%, 97.8%;

      --primary: 60, 9.1%, 97.8%;
      --primary-foreground: 24, 9.8%, 10%;

      --secondary: 12, 6.5%, 15.1%;
      --secondary-foreground: 60, 9.1%, 97.8%;

      --muted: 12, 6.5%, 15.1%;
      --muted-foreground: 24, 5.4%, 63.9%;

      --accent: 12, 6.5%, 15.1%;
      --accent-foreground: 60, 9.1%, 97.8%;

      --destructive: 0, 62.8%, 30.6%;
      --destructive-foreground: 60, 9.1%, 97.8%;

      --border: 12, 6.5%, 15.1%;
      --input: 12, 6.5%, 15.1%;
      --ring: 24, 5.7%, 82.9%;
    }
  }
}
