---
import Layout from '../layouts/Layout.astro'
import BlogContent from '../views/blog'
---

<Layout title='Welcome to Astro.'>
  <main>this is blog</main>
  <BlogContent client:visible />
</Layout>
